<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"
      rel="stylesheet"
    />
    <style>
      label {
        font-weight: normal;
      }
      .panel-body .glyphicon-remove{
        display: none;
      }
      .panel-body:hover .glyphicon-remove{
        display: inline-block
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">
          <h2>Pocket Book</h2>
          <a href="/record/create">
            <button class="btn btn-primary">Add a Record</button>
          </a>
          <hr />
          <div class="records">
            <% records.forEach(function(record){ %>
            <div class="panel <%= record.type===-1 ? 'panel-danger' : 'panel-success' %>">
              <div class="panel-heading"><%= moment(record.time).format('LL') %></div>
              <div class="panel-body">
                <div class="col-xs-6"><%= record.event %></div>
                <div class="col-xs-2 text-center">
                  <span class="label <%= record.type===-1 ? 'label-warning' : 'label-success' %>"><%= record.type===-1 ? 'Expense' : 'Income' %></span>
                </div>
                <div class="col-xs-2 text-right">$<%= record.amount %></div>
                <div class="col-xs-2 text-right">
                  <a class = "delBtn" href="/record/delete/<%= record._id %>">
                    <span
                      class="glyphicon glyphicon-remove"
                      aria-hidden="true"
                    ></span>
                </a>
                </div>
              </div>
            </div>
            <% }) %>
            
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    let delBtns = document.querySelectorAll('.delBtn');
    delBtns.forEach(item => {
      item.addEventListener('click', function(e){
        if(confirm('Are you sure to delete this record?')){
          return true;
        } else {
          e.preventDefault();
        }
      })
    })
  </script>
</html>
